/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: white;
  display: grid;
  max-width: 100%;
  max-height: 100%;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  max-height: 100%;
  max-width: 100%;
}

.nav-logo {
  font-size: 2.2rem;
  font-weight: 600;
  color: black;
  font-family: "Protest Revolution", sans-serif;
}

.nav-logo:hover{
  color:rgb(106, 173, 154);
}

.nav-links {
  display: flex;
  gap: 120px;
  padding-right: 40px;
}

.nav-links li {
  display: flex;
}

.nav-links li a:hover{
  color: rgb(115, 115, 228);
}

.nav-links a {
  color: #0d1f24;
  font-family: inconsolata, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}


.main-container{
  display: grid;
  max-height: 100%;
  max-width: 100%;
}

.about-1{
  max-height: 100%;
  max-width: 100%;
  display: grid;
  background-color: white;
}

.about-sub-h{
  display: flex;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.about-sub-h h2{
  font-size: 3.5rem;
  color: black;
  font-weight: 500;
  font-family: inconsolata, sans-serif;
}

.about-sub-p{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  padding: 30px 200px 50px 200px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-sub-p p{
  font-size: 2.7rem;
  color: grey;
  font-weight: 350;
  font-family: inconsolata, sans-serif;
}

.about-sub-button{
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  display: flex;
  padding: 100px 0px 20px 0px;
  gap: 80px;
}

.about-sub-button .btn{
  background-color: black;
  height: 60px;
  width: 160px;
  border-radius: 10px;
  border: 2px solid black;
  font-family: "Inconsolata", sans-serif, 'Times New Roman';
  font-weight: 800;
  color: white;
  font-size: 1.5rem;
}

.about-sub-button .btn:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}


.about-2{
  max-width: fit-content;
  max-height: fit-content;
  display: contents;
  align-items: center;
  justify-content: center;
}

.about-2 svg{
  height: 100%;
  width: 100%;
}

.about-main{
  display: flex;
  margin-top: 5%;
}

.social-icons{
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 50px;
  padding: 10px;
}

.icon-github{
  padding: 6px;
  background-color: grey;
  border-radius: 40px;
  
  justify-content: center;
  align-items: center;
}


.icon-link{
  padding: 8px;
  background-color: grey;
  border-radius: 40px;
}

.icon-mail{
  padding: 7px;
  background-color: grey;
  border-radius: 40px;
}

.icon-instag{
  padding: 8px;
  background-color: grey;
  border-radius: 40px;
  
}

.bi-bi-github{
  height: 36px;
  width: 39px;
  margin-top: 0px;
}



.icon-github:hover{
  background-color: rgb(83, 83, 83);
}

.icon-link:hover{
  background-color: rgb(83, 83, 83);
}

.icon-mail:hover{
  background-color: rgb(83, 83, 83);
}

.icon-instag:hover{
  background-color: rgb(83, 83, 83);
}

.bi-bi-linkedin{
  height: 30px;
  width: 35px;
  margin-top: 0px;
}



.bi-bi-mail{
  height: 34px;
  width: 35px;
  margin-top: 0px;
}

.bi-bi-instagram{
  height: 32px;
  width: 35px;
  margin-top: 0px;
}

#skills{
  display: grid;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  margin: 100px 0px 100px 0px;
  text-align: center;
}

.skills-title h2{
  color: black;
  font-size: 3rem;
  font-weight: 350;
  font-family: inconsolata, sans-serif;
  margin-top: 5%;
  margin-bottom: 2%;
}


.skills-fe{
  display: grid;
  height: 100%;
  width: 100%;
}

.skills-fe-title{
  text-align: center;
  padding: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.skills-fe-title h2{
  font-weight: 350;
  font-size: 2rem;
  font-family: inconsolata, sans-serif;
  color: black;
  margin-bottom: 2.5%;
  margin-top: 2%;
}

.skills-fe-container{
  display: flex;
  margin: 10px 500px 10px 500px;
  height: 25px;
  color: white;
}

.skills-fe-container-1{
  background-color: black;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.skills-fe-container-2{
  background-color: rgb(200, 192, 192);
  width: 12%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.skills-pr-title{
  text-align: center;
  padding: 50px 0px 10px 0px;
}

.skills-pr-title h2{
  font-weight: 350;
  font-size: 2rem;
  font-family: inconsolata, sans-serif;
  color: black;
  margin-bottom: 2.5%;
  margin-top: 2%;

}

.skills-pr-container{
  display: flex;
  margin: 10px 500px 10px 500px;
  height: 25px;
}

.skills-pr-container-1{
  background-color: black;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.skills-pr-container-2{
  background-color: rgb(200, 192, 192);
  width: 20%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Education */

#education{
  background-color: black;
  height: 100%;
  width: 100%;
  display: grid;
  margin-bottom: 10%;
}

.edu-title{
  max-height: 100%;
  max-width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.edu-title h2{
  margin: 150px 0px 40px 0px;
  color: black;
  font-size: 3rem;
  font-weight: 350;
  font-family: inconsolata, sans-serif;
}

.edu-1{
  display: flex;
  height: 100%;
  width: 100%;
}

.edu-logo-container{
  display: grid;
  height: 100%;
  width: 50%;
}

.edu-logo-1,.edu-logo-2{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: white;
}

.edu-logo-1{
  align-items:end;
  justify-content: right;
}

.edu-logo-1 img{
  height: 150px;
}


.edu-details{
  background-color: white;
  width: 100%;
  color: black;
  padding: 20px 0px 0px 100px;
  display: grid;
}

.edu-details h1{
  font-weight: 350;
  font-size: 2.5rem;
  font-family: Inconsolata, sans-serif;
  margin-bottom: 10px;
}

.edu-details h2{
  font-weight: 350;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: Inconsolata, sans-serif;
}

.edu-details h3, .edu-details li{
  font-weight: 350;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: Inconsolata, sans-serif;
}

/* Projects Section */

#project{
  padding: 15px;
  margin:  0px;
  font-size: 10px;
  display: flex;
  background-color: white;
  justify-content: center;
}

.project-title{
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  font-family: Inconsolata, sans-serif;
}

.project-title h2{
  color: black;
  font-size: 3rem;
  font-weight: 350;
  font-family: Inconsolata, sans-serif;
}

.project-cards-container-1, .project-cards-container-2{
  padding: 10px;
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}


.project-cards-container{
  padding: 10px;
  margin: 0px;
  display: grid;
  width: 100%;
}

.project-cards-1, .project-cards-2{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.project-card{
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  font-weight: none;
  background-color: whitesmoke;
  color: black;
  border-radius: 6px;
  opacity: 1.0;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 200px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
}

.project-card h2{
  font-weight: 450;
  margin-bottom: 0px;
  font-size: 2rem;
  font-family: Inconsolata, sans-serif;
}

.project-card p{
  font-weight: 350;
  margin-bottom: 0px;
  font-size: 1.7rem;
  font-family: Inconsolata, sans-serif;
}

.project-card a{
  font-weight: 350;
  margin-bottom: 0px;
  font-size: 1.7rem;
  font-family: Inconsolata, sans-serif;
}

.project-card:hover{
  background-color: rgb(157, 156, 156);
  color: white;
}

.project-container{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 80%;
  justify-content: center;
}

.project-sub{
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  display: grid;
  width: 100%;
  justify-content: center;
}


/* Footer Section */
footer {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.footer-text {
  margin-top: 20px;
  font-size: 1.7rem;
  font-family: Inconsolata, sans-serif;
  font-weight: 350;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1.2px solid black;
  padding-top: 10px;
  font-size: 1.7rem;
  font-family: Inconsolata, sans-serif;
  font-weight: 350;
}

.footer-bottom a {
  color: #0077b6;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive Styles */

@media (max-width: 480px) {

  .nav-links{
    gap: 80px;
    padding-right: 0px;
  }

  .nav-links a{
    font-size: 2rem;
  }

  .nav-logo{
    font-size: 2.5rem;
  }

  .about-sub-h h2{
    font-size: 2.5rem;
  }

  .about-sub-p p{
    font-size: 2rem;
    padding: 0px 50px 0px 50px;
  }

  .about-sub-button{
    justify-content: center;
    gap: 50px;
  }

  .social-icons{
    padding: 10px 10px 50px 10px;
  }

  .about-main{
    display: grid;
  }
  .about-2{
    display: flex
  }

  .bi-bi-github{
    height: 30px;
    width: 30px;
  }

}